# 忽略 node_modules 目录
node_modules/

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp

# 忽略输出生成的 dist 目录
dist/

# 忽略个性化配置文件，如 config.json
config.json

# 忽略IDE配置文件
.vscode/
.idea/

# 忽略操作系统生成的隐藏文件
.DS_Store
Thumbs.db

# 忽略 npm 和 yarn 锁定文件（如果你不需要锁定文件）
package-lock.json
yarn.lock
